<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>




<h3> Reviews </h3>



<%@product.reviews.each do |review| %>


<p>
	<%= review.comment %>

</p>


<div>

<% time_ago_in_words review.created_at %>

</div>

<% end %>

<h3> new reviews </h3> 




<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
