<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<p>
  <strong>Product:</strong>
  <%= @review.product_id%>
</p>

<%= link_to 'Edit', @review %> |
<%= link_to 'Back', reviews_path %>
